*{
    margin:0;
    border:0;
    padding:0;
}
/*Pregatim Inaltimile paginii*/
#header{
    background-color:burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#Despre{
    background-color:burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#Rommana{
    background-color:burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Matematica{
    background-color:burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Informatica{
    background-color:burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Biologie{
    background-color:burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*Nav*/

#header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#header nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 20px;
}
#header nav ul a li{
    color:#325ef0;
    text-decoration: none;
    font-size: 22px;
    position: relative;

}
#header nav ul a li::after{
    content:'';
    width: 0%;
    height: 3px;
    background:	#3d79c8;
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
#header nav ul a li:hover::after{
width: 100%;
}
nav h1{
    margin-top:50px;
    margin-left:30px;
    font-size:46px;
    color:#325ef0;
}
#header nav h1 span{
    font-size:23px;
    color:#3d79c8;
}
/*#Despre*/
#Despre p {
    font-size:16px;
    margin-left:1vw;
    color:#325ef0;
}