@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  font-family: "PT Serif", serif;
}
#app {
  background: linear-gradient(#31b7c2, #7bc393, #7bc393, #31b7c2);
}
/*Header*/
header {
  height: 30vh;
}
header h1 {
  text-shadow: 2px 2px 5px #316bc2;
}

/*Despre*/
#Despre {
  height: 70vh;
}
#Despre h1 {
  text-shadow: 2px 2px 5px #316bc2;
}
#Despre p {
  font-size: 24px;
  text-align: center;
  padding-top: 1vh;
}
#Despre .ps {
  padding-top: 0vh;
}
/*Romana*/
#Romana {
  height: 100vh;
}
#Romana h1 {
  text-shadow: 2px 2px 5px #316bc2;
}

/*Matematica*/
#Matematica {
  height: 100vh;
}
#Matematica h1 {
  text-shadow: 2px 2px 5px #316bc2;
}

/*Informatica*/
#Informatica {
  height: 100vh;
}
#Informatica h1 {
  text-shadow: 2px 2px 5px #316bc2;
}

/*Biologie*/
#Biologie {
  height: 100vh;
}
#Biologie h1 {
  text-shadow: 2px 2px 5px #316bc2;
}

/*Fizica*/
#Fizica {
  height: 100vh;
}
#Fizica h1 {
  text-shadow: 2px 2px 5px #316bc2;
}

/*Chimie*/
#Chimie {
  height: 100vh;
}
#Chimie h1 {
  text-shadow: 2px 2px 5px #316bc2;
}

@media screen and (max-width: 800px) {
  header nav .container a img {
    height: 40px;
    width: 40px;
  }
}
