@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  font-family: "PT Serif", serif;
}
#app {
  background: radial-gradient(#31b7c2, #7bc393, #31b7c2);
  height: 100vh;
}
#app h1 {
  text-shadow: 2px 2px 5px #316bc2;
}
/*Despre*/

#Despre p {
  font-size: 24px;
  text-align: center;
  padding-top: 1vh;
}
#Despre .ps {
  padding-top: 0vh;
}
/*Romana*/
#Romana {
  background: radial-gradient(#31b7c2, #7bc393, #31b7c2);
  height: 100vh;
}
#Romana h1 {
  text-shadow: 2px 2px 5px #316bc2;
}

/*Matematica*/
#Matematica {
  background: radial-gradient(#31b7c2, #7bc393, #31b7c2);
  height: 100vh;
}
#Matematica h1 {
  text-shadow: 2px 2px 5px #316bc2;
}

/*Informatica*/
#Informatica {
  background: radial-gradient(#31b7c2, #7bc393, #31b7c2);
  height: 100vh;
}
#Informatica h1 {
  text-shadow: 2px 2px 5px #316bc2;
}

/*Biologie*/
#Biologie {
  background: radial-gradient(#31b7c2, #7bc393, #31b7c2);
  height: 100vh;
}
#Biologie h1 {
  text-shadow: 2px 2px 5px #316bc2;
}

/*Fizica*/
#Fizica {
  background: radial-gradient(#31b7c2, #7bc393, #31b7c2);
  height: 100vh;
}
#Fizica h1 {
  text-shadow: 2px 2px 5px #316bc2;
}

/*Chimie*/
#Chimie {
  background: radial-gradient(#31b7c2, #7bc393, #31b7c2);
  height: 100vh;
}
#Chimie h1 {
  text-shadow: 2px 2px 5px #316bc2;
}
@media only screen and (max-width: 600px) {
  nav .container img {
    height: 40px;
    width: 40px;
  }
}
@media only screen and (max-width: 400px) {
  nav .container img {
    height: 25px;
    width: 25px;
  }
  #Despre p {
    font-size: 16px;
    text-align: center;
    padding-top: 1vh;
    width: 99%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
