@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  background: #0a5;
  color: #fff;
  font-family: "PT Serif", serif;
}
/*Header*/
header {
  height: 100vh;
}

/*Despre*/
.Despre {
  height: 100vh;
}

/*Romana*/
.Romana {
  height: 100vh;
}

/*Matematica*/
.Matematica {
  height: 100vh;
}

/*Informatica*/
.Informatica {
  height: 100vh;
}

/*Biologie*/
.Biologie {
  height: 100vh;
}

/*Fizica*/
.Fizica {
  height: 100vh;
}

/*Chimie*/
.Chimie {
  height: 100vh;
}
