*{
    margin:0;
    border:0;
    padding:0;
}

/*Scroll Bar*/

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: burlywood;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #325ef0;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3d79c8;
  }

/*romanaVarBac*/

/*romanaRezVarBac*/

/*romanaSub1*/

/*romanaSub2*/

/*romanaSub3*/

#headerRomanaSub3{
    background-color:burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#headerSub3 nav h1{
    padding-top:50px;
    margin-left:30px;
    font-size:46px;
    color:#325ef0;
}