/*Toate Paginile*/
*{
    margin:0;
    border:0;
    padding:0;
}

/*Scroll Bar*/

/* width */
::-webkit-scrollbar {
    width: 0.7vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: linear-gradient(#26a1ca,#408e2f,#408e2f,#26a1ca,#26a1ca,#408e2f,#408e2f,#26a1ca,#26a1ca,#408e2f,#408e2f,#26a1ca) ;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff98;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff98;
  }
  
/*Home Page*/

/*Pregatim Inaltimile paginii*/
#header{
    background:linear-gradient(#26a1ca, #408e2f);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#Despre{
    background:linear-gradient(#408e2f,#26a1ca);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#Romana{
    background:linear-gradient(#26a1ca,#408e2f);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Matematica{
    background:linear-gradient(#408e2f,#26a1ca);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Informatica{
    background:linear-gradient(#26a1ca,#408e2f);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Biologie{
    background:linear-gradient(#408e2f,#26a1ca);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*Nav*/

#header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#header nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 5px;
}
#header nav ul a li{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;

}
#header nav ul a li::after{
    content:'';
    width: 0%;
    height: 3px;
    background:	#fff;
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
#header nav ul a li:hover::after{
width: 100%;
}
#header nav h1{
    margin-top:50px;
    margin-left:30px;
    font-size:46px;
    color:#fff;
}
#header nav h1 span{
    font-size:23px;
    color:#fff;
}
/*#Despre*/
#Despre h1 {
    color:#fff;
    font-size:46px;
    margin-left:1vw;
    margin-bottom: 5vh;
}
#Despre p {
    font-size:20px;
    margin-left:2vw;
    color:#fff;
    
}
/*Romana*/
#Romana  h1{
    padding-top:50px;
    margin-left:30px;
    font-size:46px;
    color:#fff;
}
#Romana nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#Romana nav ul{
    align-items: center;
}
#Romana nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 5px;
}
#Romana nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 26px;
    position: relative;

}
#Romana nav ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background:	#fff;
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
#Romana nav ul li a:hover::after{
width: 100%;
}
#Romana p{
    font-size:26px;
    padding-top:10vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    color:#fff;
}

/*Matematica*/
#Matematica h1{
    color:#fff;
    font-size:46px;
    margin-left:1vw;
}
#Matematica nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#Matematica nav ul{
    align-items: center;
}
#Matematica nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 5px;
}
#Matematica nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 26px;
    position: relative;

}
#Matematica nav ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background:	#fff;
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
#Matematica nav ul li a:hover::after{
width: 100%;
}
/*Informatica*/
#Informatica h1{
    color:#fff;
    font-size:46px;
    margin-left:1vw;
}
#Informatica nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#Informatica nav ul{
    align-items: center;
}
#Informatica nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 5px;
}
#Informatica nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 26px;
    position: relative;

}
#Informatica nav ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background:	#fff;
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
#Informatica nav ul li a:hover::after{
width: 100%;
}
/*Biologie*/
#Biologie h1{
    color:#fff;
    font-size:46px;
    margin-left:1vw;
}

#Biologie nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#Biologie nav ul{
    align-items: center;
}
#Biologie nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 5px;
}
#Biologie nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 26px;
    position: relative;

}
#Biologie nav ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background:	#fff;
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
#Biologie nav ul li a:hover::after{
    width: 100%;
}

/*Responsive*/
@media screen and (max-width: 800px) 
     {
        #Biologie nav ul li a{
            color:#fff;
            text-decoration: none;
            font-size: 16px;
            position: relative;
        
        }
        #Biologie h1{
            font-size:30px;
        }
        #Romana nav ul li a{
            color:#fff;
            text-decoration: none;
            font-size: 16px;
            position: relative;
        
        }
        #Romana h1{
            font-size:30px;
        }
        #Romana p{
            font-size:17px;
            padding-top:3vh;
            width: 83vw;
            margin-left: auto;
            margin-right: auto;
            color:#fff;
        }
        #Matematica nav ul li a{
            color:#fff;
            text-decoration: none;
            font-size: 16px;
            position: relative;
        
        }
        #Matematica h1{
            font-size:30px;
        }
        #Informatica nav ul li a{
            color:#fff;
            text-decoration: none;
            font-size: 16px;
            position: relative;
        
        }
        #Informatica h1{
            font-size:30px;
        }
        #Despre h1{
            font-size:30px;
        }
        #Despre p{
            font-size:17px;
        }
        #header nav ul a li{
            color:#fff;
            text-decoration: none;
            font-size: 16px;
            position: relative;
        
        }
    }
  
    

