/*Toate Paginile*/
*{
    margin:0;
    border:0;
    padding:0;
}

/*Scroll Bar*/

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: burlywood;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #325ef0;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3d79c8;
  }
  
/*Home Page*/

/*Pregatim Inaltimile paginii*/
#header{
    background-color:burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#Despre{
    background-color:burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#Romana{
    background-color:burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Matematica{
    background-color:burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Informatica{
    background-color:burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Biologie{
    background-color:burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*Nav*/

#header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#header nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 5px;
}
#header nav ul a li{
    color:#325ef0;
    text-decoration: none;
    font-size: 20px;
    position: relative;

}
#header nav ul a li::after{
    content:'';
    width: 0%;
    height: 3px;
    background:	#3d79c8;
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
#header nav ul a li:hover::after{
width: 100%;
}
#header nav h1{
    margin-top:50px;
    margin-left:30px;
    font-size:46px;
    color:#325ef0;
}
#header nav h1 span{
    font-size:23px;
    color:#3d79c8;
}
/*#Despre*/
#Despre h1 {
    color:#325ef0;
    font-size:46px;
    margin-left:1vw;
    margin-bottom: 5vh;
}
#Despre p {
    font-size:20px;
    margin-left:2vw;
    color:#325ef0;
    
}
/*Romana*/
#Romana  h1{
    padding-top:50px;
    margin-left:30px;
    font-size:46px;
    color:#325ef0;
}
#Romana nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#Romana nav ul{
    align-items: center;
}
#Romana nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 5px;
}
#Romana nav ul li a{
    color:#325ef0;
    text-decoration: none;
    font-size: 26px;
    position: relative;

}
#Romana nav ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background:	#3d79c8;
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
#Romana nav ul li a:hover::after{
width: 100%;
}
#Romana p{
    font-size:26px;
    padding-top:10vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    color:#325ef0;
}

/*romanaOpere*/

#headerRomanaOpere{
    background-color:burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#headerRomanaOpere h1{
    padding-top:5vh;
    padding-left:1vw;
    color:#325ef0;
    font-size: 46px;
}
#headerRomanaOpere p{
    font-size: 24px;
    text-align: center;
    margin-top:8vh;
    width: 50vw;
    margin-left:auto;
    margin-right: auto;
    color:#325ef0;
    font-weight: 550;
}

/*romanaVarBac*/

/*romanaRezVarBac*/

/*romanaSub1*/

/*romanaSub2*/

/*romanaSub3*/

#headerRomanaSub3{
    background-color:burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#headerSub3 nav h1{
    padding-top:50px;
    margin-left:30px;
    font-size:46px;
    color:#325ef0;
}

/*Matematica*/
#Matematica h1{
    color:#325ef0;
    font-size:46px;
    margin-left:1vw;
}
/*Informatica*/
#Informatica h1{
    color:#325ef0;
    font-size:46px;
    margin-left:1vw;
}
/*Biologie*/
#Biologie h1{
    color:#325ef0;
    font-size:46px;
    margin-left:1vw;
}

